<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
    {% block cabecalho %}
    <title>Agenda de Contatos</title>
    {% load bootstrap3 %}
    
    {# Carregar os arquivos de css #}
    {% bootstrap_css %}
    
    {# Carregar os arquivos de javascript #}
    {% bootstrap_javascript %}
    {% endblock %}
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Cadastro de Contato</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Olá {{ user.get_username }}</a></li>
					<li><a href="/logout/"><span class="glyphicon glyphicon-log-out" title="sair"></span> Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><li><a href="/"><span class="glyphicon glyphicon-list"></span> Listar Contatos</a></li>
					<li style="padding: 10px"><li><a href="/adiciona/"><span class="glyphicon glyphicon-plus-sign"></span> Adicionar novo Contato</a></li>
					<li><li><a href="/exporta/"><span class="glyphicon glyphicon-share"></span> Exportar contatos</a></li>
				</ul>
			</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header"> {% block title %}{% endblock %}</h1>
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-body">
						{% block corpo %}{% endblock %}
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>Canary (CNRY)</h3>
						<ul class="task-list">
							<li>Allexandres Sampaio <a href="https://github.com/allexandresampaio"><strong>@allexandresampaio</strong></a></li>
                            <li>Daniel Silva <a href="https://github.com/dansilva"><strong>@dansilva</strong></a></li>
							<li>Danilo Lopes <a href="https://github.com/danilolopes"><strong>@danilolopes</strong></a></li>
							<li>Diana Crys <a href="https://github.com/dianacrys"><strong>@dianacrys</strong></a></li>
							<li>Igo Romero (scrum master) <a href="https://github.com/igoromero"><strong>@igoromero</strong></a></li>
							<li>Joabe Pinheiro <a href="https://github.com/joabepinheiro"><strong>@joabepinheiro</strong></a></li>
							<li>Manuela Amaral <a href="https://github.com/manuela1111"><strong>@manuela1111</strong></a></li>
						</ul>
						<a href="https://github.com/Team-Canary/AgendaDeContatos" target="_blank">Página no github</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
