{% extends 'base.html' %}
{% block corpo %}
{% load staticfiles %}
<button onclick="location. href='/logout/'">Logout</button>
<button onclick="location. href='/adiciona/'">Adicionar Contato</button>
<ul>
    {% for item in lista_itens %}
    <li>
        <a href="/remove/{{ item.id }}/"><img src="{% static 'img/lixeira.png'  %}" width="20px" height="20px"></a>
        <a href="/item/{{ item.id }}/">
            {{ item.nome }}</a>
    </li>
    {% empty %}
    <li>Nenhum registro encontrado.</li>
    {% endfor %}
</ul>
{% endblock %}